.placeholder-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f5f5f5;
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.placeholder-content h1 {
  font-size: 32px;
  font-weight: 700;
  color: var(--color-black);
  margin-bottom: 16px;
}

.placeholder-content p {
  font-size: 18px;
  color: var(--color-grayTextandIcons);
  margin-bottom: 24px;
}

.placeholder-image img {
 width: 400px;
  height: auto;
  overflow: hidden;
}


@media (max-width: 768px) {
.placeholder-image {
  max-width: 500px;
  width: 100%;
  height: auto;
}

}