:root {
  --color-black: #222222;       /* InsteadofBLACK */
  --color-highlight: #581ADB;   /* HighlightCOLOR */
  --color-gray: #717171;        /* grayTextandIcons */
  --color-white: #FFFFFF;       /* White */
  --color-stroke: #DDDDDD;      /* Stroke_forwhite */
  --color-rating: #DBBEFF;      /* rating */
  --color-button: #581ADB;      /* BUTTONS */
  --color-best-rating: #BC78FF; /* BestRating */
  --color-location: #EE0039;    /* location */
  --color-good: #94D0B4;        /* good */
  --color-bad: #EBAFBA;         /* bad */
  --color-free-payment: #00C67E; /* Free and payment */
  --color-border: #DDDDDD 
}
