.rooms-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.room-card {
  display: flex;
  border: 1px solid var(--color-border);
  border-radius: 15px;
  align-items: stretch;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s;
}

.room-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.room-image {
  flex-shrink: 0;
  flex-basis: 340px;
  height: 100%;
  overflow: hidden;
}

.room-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.room-details-left {
  flex: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.room-name {
  font-size: 20px;
  font-weight: bold;
  color: var(--color-black);
  margin: 0;
  margin-bottom: 10px;
}

.room-info-block {
  display: flex;
  gap: 16px;
  font-size: 14px;
  color: #4b5563;
}

.room-info-block span {
  display: flex;
  align-items: center;
  gap: 6px;
}

.hotel-facilities {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 20px;
  color: var(--color-gray);
}

.facility-chip {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.facility-icon {
  width: 20px;
  height: 20px;
}

.room-status {
  font-size: 14px;
  color: var(--color-highlight);
  font-weight: 600;
  margin-top: 12px;
}

.room-details-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 16px;
}

.room-price {
  font-size: 28px;
  font-weight: bold;
  color: var(--color-highlight);
  text-align: center;
}

.btn-choose,
.btn-more-info {
  width: 140px;
  padding: 12px 0;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
}

.btn-choose {
  background-color: var(--color-button);
  color: var(--color-white);
  border: none;
}

.btn-more-info {
  background-color: var(--color-white);
  color: var(--color-button);
  border: 2px solid var(--color-button);
}


@media (max-width: 700px) {
  .room-card {
    flex-direction: column;
    gap: 0;
    padding: 0;
  }

  .room-image {
    width: 100%;
    height: 280px;
    margin: 0;
    flex-basis: auto;
  }

  .room-image img {
    border-radius: 15px 15px 0 0;
  }

  .room-details-left {
    padding: 24px;
    gap: 14px;
  }

  .room-name {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .room-info-block {
    font-size: 14px;
  }

  .hotel-facilities {
    margin-top: 14px;
    gap: 14px;
  }

  .facility-chip {
    font-size: 14px;
  }

  .room-details-right {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    align-items: end;
    padding: 24px 32px;
    gap: 14px;
    border-top: 1px solid var(--color-border);
  }

  .btn-more-info {
    grid-column: 1;
    grid-row: 2;
    padding: 16px 70px;
    font-size: 15px;
    width: auto;
  }

  .room-price {
    grid-column: 2;
    padding-right: 10%;
    grid-row: 1;
    font-size: 28px;
    text-align: right;
    margin: 0;
    justify-self: end;
  }

  .btn-choose {
    grid-column: 2;
    grid-row: 2;
    padding: 16px 70px;
    font-size: 15px;
    width: auto;
    justify-self: end;
  }
}

@media (max-width: 530px) {
  .btn-more-info {
    grid-column: 1;
    grid-row: 2;
    padding: 13px 32px;
    font-size: 15px;
    width: auto;
  }

  .room-price {
    grid-column: 2;
    grid-row: 1;
    font-size: 28px;
    text-align: right;
    margin: 0;
    justify-self: end;
  }

  .btn-choose {
    grid-column: 2;
    grid-row: 2;
    padding: 13px 36px;
    font-size: 15px;
    width: auto;
    justify-self: end;
  }
}