.reviews-panel {
  margin-top: 48px;
  text-align: center; 
  font-family: 'Nunito Sans', sans-serif; 
}

.reviews-panel .reviews-title {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-gray);
  text-transform: uppercase;
  margin-bottom: 24px;
}

.reviews-panel .reviews-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin: 24px auto 0 auto; 
  max-width: 1200px; 
  width: 100%;
  justify-items: center; 
}

.reviews-panel .review-card {         
  background-color: var(--color-white);
  border-radius: 12px;
  padding: 16px;
  border: 1px solid var(--color-good);
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.reviews-panel .review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews-panel .review-user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.reviews-panel .review-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.reviews-panel .review-name-hotel {
  display: flex;
  flex-direction: column;
}

.reviews-panel .review-name {
  font-weight: 600;
  color: var(--color-black);
}

.reviews-panel .review-hotel {
  font-weight: 400;
  color: var(--color-gray);
}

.reviews-panel .review-time {
  font-size: 12px;
  color: var(--color-gray);
}

.reviews-panel .review-text {
  font-size: 16px;
  color: var(--color-black);
  line-height: 1.4;
}

